

/* Container */
.login-container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
   font-family: 'Inter', sans-serif;
  /* background: linear-gradient(135deg, #4a90e2, #6dd5fa); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 35px 30px;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
}

.login-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 14px;
  color: #eee;
  margin-bottom: 30px;
}

/* Input Group */
.login-input-group {
  text-align: left;
  margin-bottom: 20px;
}

.login-input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #ddd;
}

.login-input-group input {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 14px;
  outline: none;
}

.login-input-group input::placeholder {
  color: #ccc;
}

/* Actions */
.actions {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-link {
  font-size: 13px;
  color: #d0e6ff;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Buttons */
.login-btn,
.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.login-btn {
  background-color: #fff;
  color: #4a90e2;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #e8f0fe;
}

.google-btn {
  background-color: #fff;
  color: #444;
}

.google-btn:hover {
  background-color: #f1f1f1;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 25px 0;
  color: #ccc;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}

/* Register Text */
.register-text {
  font-size: 13px;
  margin-top: 20px;
  color: #ccc;
}

.register-text a {
  color: #fff;
  text-decoration: underline;
}
